{% extends 'base.html.twig' %}
{% block title %}Access ERP
{% endblock %}
{% block body %}
	<h1>Access ERP</h1>
	<p>Log in to our ERP platform to manage your resources.</p>
	<a href="#" class="btn btn-success mt-3">Login to ERP</a>
{% endblock %}
